.container{
    width: 1000px;
    
}
.face
{
    padding: 150px 50px;
    width: 500px;

    font-size: 30px;
    color: #5050ff;
}
.p1{
    color: black;
}
body{
    
    background-color: #dcdcf3;;
}
.box{
    background-color: white;
    border: 1px solid ;
    height: 360px;
    width: 360px;
    margin-left: 800px;
    margin-top: -400px;
    border-radius: 3%;
}
.inbox{
    width:250px;
    height:40px;
    
    border-radius:10px;
    
}
.ininbox{
    background-color:#5050ff ;;
    width: 250px;
    height:40px ;
    color: white;
    border: solid white;
    border-radius: 10px;
    font-size: 20px;
    font-weight:bold;

}
.forget{
   color: #5050ff ;
   padding-left:60px ;

}
.new{
    margin-left: 15%;
    background-color:#12d912; ;
    color: white;
    width: 180px;
    height:40px ;
    font-size: 20px;
    font-weight:500px;
    border-radius: 5px;
}
#new{
color: white;
font-size: 17px;
font-weight: bold;
padding-left: 18px;
}
.first{
   width: 300px;
    height: 50px;
} 
.last{
    width: 300px;
    height: 50px;
    margin-left: 90px;
}
.body{
    background-color: white;
}
.mob{
    width:700px;
    height: 50px;
}
.gender{
    border: 1px solid;
    width: 100px;
    height: 30px;
    
}
.gender1{
    border: 1px solid;
    width: 100px;
    height: 30px;
    margin-left: 160px;
    margin-top: -32px;
}
.gender2{
    border: 1px solid;
    width: 100px;
    margin-left: 320px;
    margin-top: -32px;
    height:30px;
}
